* {
    box-sizing: border-box;
}

:root {
    --main-color: #04aa6d;
    --gray-color: #555555;
    --white-color: #ffffff;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.icon-bar {
    width: 30%;
    right: 0;
    background-color: var(--gray-color);
    overflow: auto;
    position: fixed;
    top: 0;
    border-bottom-left-radius: 20px;
}

.icon-bar a {
    font-size: 3rem;
    color: var(--white-color);
    width: 25%;
    float: left;
    text-align: center;
    padding: .3em 0;
    float: left;
}

.icon-bar a:hover {
    background-color: #ff0000;
}

h1 {
    height: 500px;
    text-align: center;
    border: 2px solid #ff0000;

}

.first {
    margin-top: 4em;
}

.icon-bar .active {
    background-color: #04aa6d;
}

@media (max-width: 680px) {
    html {
        font-size: 13px;
    }

    .icon-bar {
        width: 100%;
    }

    .icon-bar a {
        padding: 0.1em 0;
    }
}
